/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #2E3440FF;
    background-alt: #383E4AFF;
    foreground:     #E5E9F0FF;
    selected:       #3B4252FF;
    active:         #ECEFF4FF;
    urgent:         #4C566AFF;
}
